*{
    font-size: 0;
    position: relative;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: current;
}
*:focus{
    outline: none;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
    background: url(../images/br_down.png) no-repeat right;
    background-position-x: 95%;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: proxima-nova, sans-serif;
    counter-reset: my-sec-counter;
}
.container{
    width: 100%;
    height: 100%;
    display: none;
    background-color: #F5F5F5;
    overflow: hidden;
}
.container .lottie{
    position: absolute;
    left: 42vw;
    width: 56vw;
    height: 100vh;
}
.container:first-child{
    background-color: #1A4E63;
}
.container.active{
    display: block;
}
.container .content-wrapper{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:0;
    right: 0;
    width: 90%;
    margin: auto;
}
.container .block-level.lm{
    width: 45%;
}
.container .content-wrapper.relative{
    position: relative;
    top:auto;
    left:auto;
    transform: none;
}
.content-wrapper > h1, .content-list-wrapper h1{
    font-size: 2.6vw;
    font-weight: 100;
    color: #1A4E63;
    text-align: left;
}
.content-wrapper h1:last-child{
    margin-top: 6vw;
}
.container .block-level, .header .header-part, .header-part img, .header-part p, .progress-bar .progress-block, .title-parts, .main-wrapper .block-level .score-wrapper p, .main-wrapper .block-level .score-wrapper .bar, .main-wrapper .block-level .question-wrapper .title, .main-wrapper .block-level .question-wrapper .cat-title, .result-score .score-wrapper p,  .result-score .score-wrapper .bar, .chart .bar, .chart p{
    display: inline-block;
    vertical-align: middle;
}
.container .block-level.lg{
    width: 60%;
}
.container .block-level.md{
    width: 40%;
}
.container .block-level .home-pg-content > img{
    width: 14.5vw;
    margin: 2vw 0;
}
.container .block-level .home-pg-content h1{
    font-size: 1.97vw;
    color:#fff;
    font-weight: 600;
    margin: 1.5vw 0;
}
.container .block-level .home-pg-content p{
    font-size: 1.25vw;
    color:#fff;
    font-weight: 100;
    width: 85%;
    margin: 1.5vw 0;
}
.container .block-level .home-pg-content .begin-btn{
    background-color: #6CB33D;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color:#fff;
    font-size:1.04vw;
    width: 17.8vw;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 2.5vw;
}
.container .block-level .home-pg-content .begin-btn:hover{
    color: #6CB33D;
    background-color: #fff;
}
.container svg{
    position: absolute;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
}
/* .cls-255, .cls-294, .cls-612, .cls-236, .cls-42, .cls-53, .cls-60, .cls-45, .cls-246, .cls-278, .cls-48, .cls-276, .cls-6, .cls-10, .cls-27, .cls-13, .cls-29, .cls-240, .cls-258, .cls-300{
    fill: transparent !important;
    stroke-width: 0;
    animation: dash 10s linear;
}
.cls-300{
    stroke: #a0afc7;
    animation-delay: 1s; 
}
.cls-258{
    stroke: #979fba;
    animation-delay: 2s; 
}
.cls-240{
    stroke: #9499b5;
    animation-delay: 3s; 
}
.cls-29{
    stroke: rgba(0,0,0,0.12);
    animation-delay: 4s; 
}
.cls-13{
    stroke: rgba(30,36,41,0.15);
    animation-delay: 5s; 
}
.cls-27{
    stroke: rgba(0,0,0,0.13);
    animation-delay: 6s; 
}
.cls-10{
    stroke: rgba(0,0,0,0.08);
    animation-delay: 7s; 
}
.cls-6{
    stroke: rgba(0,0,0,0.09);
    animation-delay: 8s;
}
.cls-276{
    stroke: #396692;
    animation-delay: 9s;
}
.cls-48{
    stroke: #8ca0bd;
    animation-delay: 10s;
}
.cls-612 {
    stroke: #fffefe;
    animation-delay: 11s;
  }
  .cls-255{
      stroke: #344a77;
      animation-delay: 12s;
  }
  .cls-294{
      stroke:#386a96;
      animation-delay: 13s;
  }
  .cls-236{
      stroke: #31406d;
      animation-delay:14s;
  } 
  .cls-42{
      stroke: #8087a7;
      animation-delay: 15s;
  }
  .cls-53{
    stroke: #838ead;
    animation-delay: 16s;
}
.cls-60{
    stroke: #90aac5;
    animation-delay: 17s;
   
}
.cls-45{
    stroke: #8798b6;
    animation-delay: 18s;
}
.cls-246{
    stroke: #375986;
    animation-delay: 19s;
}
.cls-278{
    stroke: #3b74a0;
    animation-delay:20s;
}
  @keyframes dash {
      0%{
        stroke-width: 0;
      }
    100% {
        stroke-width: 100%;
        opacity: 1;
    }
  } */
.header{
    padding: 0.27vw 5%;
    background-color: #1A4E63;
}
.header .header-part img{
    width:3.54vw;
}
.header .header-part p{
    color: #fff;
    font-size: 1.14vw;
    font-weight: 600;
}
.header .header-part.md{
    width: 20%;
}
.header .header-part:last-child img{
    width: 6.51vw;
}
.header .header-part:first-child img{
    margin-right: 1vw;
}
.header .header-part.lg{
    width: 60%;
    text-align: center;
}
.header .header-part:last-child{
    text-align: right;
}
.progress-bar{
    width: 60%;
    margin: 0.25vw 0 3vw;
}
.progress-bar .progress-block{
    width: 33%;
    text-align: center;
    padding-top: 2vw;
}
.show-na-alert, .form-validation-alert{
    position: fixed;
    top:0;
    display: none;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
    padding: 1vw 0;
}
.summary .two-block-wrapper .two-block .recommendation-wrapper ul li a{
    display: inline-block;
    vertical-align: middle;
}
.show-na-alert .msg-box, .form-validation-alert .msg-box{
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 2vw;
    width: 27vw;
    margin: auto;
    text-align: right;
}
.show-na-alert .msg-box .okay-btn, .form-validation-alert .msg-box .okay-btn{
    border-radius: 5px;
    background-color: #0094D2;
    color:#fff;
    font-size: 1vw;
    display: inline-block;
    padding: 0.5vw 1vw;
    text-align: center;
    margin-top: 1.5vw;
    cursor: pointer;
}
.show-na-alert p, .form-validation-alert p{
    font-size: 1.5vw;
    margin: 0;
    color: #0D0D0D;
    text-align: center;
}


.loder_show_after_form_submit{
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
}

.loder_show_after_form_submit img{ 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}


.progress-bar .progress-block p{
    font-size: 0.93vw;
    color:#1A4E63;
    font-weight: 100;
    margin: 0;
}
.progress-bar .progress-block.active p{
    font-weight: 400;
}
.progress-bar .bar, .main-wrapper .block-level .score-wrapper .bar, .result-score .score-wrapper .bar, .chart .bar{
    width: 100%;
    height: 0.31vw;
    background-color: #E7E8F2;
    border-radius: 15px;
    margin: 1vw 0;
}
.progress-bar .fill, .main-wrapper .block-level .score-wrapper .bar .fill, .result-score .score-wrapper .bar .fill, .chart .bar .fill{
    background-color: #6CB33D;
    transition: 0.2s all ease-in-out;
    width: 0;
    height: 100%;
    border-radius: 15px;
}
.progress-bar .fill .handle{
    position: absolute;
    right: 0;
    top: -0.8vw;
    width: 3vw;
    padding: 0.4vw;
    border-radius: 8px;
    text-align: center;
    background-color: #1A4E63;
}

.progress-bar .fill .handle p{
    color:#fff;
    font-weight: 600;
    font-size:  0.93vw;
    margin: 0;
}
.main-wrapper .block-level p{
    font-size: 0.72vw;
    color: #1A4E63;
    font-weight: 300;
}
.main-wrapper{
    margin: 1vw 0;
    display: none;
}
.main-wrapper.field {
    margin: 2vw 0;
}
.main-wrapper.active{
    display: block;
}
.main-wrapper .block-level p span{
    font-weight: 700;
    font-size: 0.72vw;
}
.main-wrapper .block-level .question-wrapper, .download-wrapper{
    width: 100%;
    border: 1px solid #E7E8F2;
    padding:1vw 0 0;
    background-color: #E7E8F2;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(227,227,227,1);
    -moz-box-shadow: 0px 3px 6px 0px rgba(227,227,227,1);
    box-shadow: 0px 3px 6px 0px rgba(227,227,227,1);
}
.main-wrapper .block-level .question-wrapper .title{
    padding:0 2vw;
    width: 60%;
}
.main-wrapper.field .block-level .question-wrapper{
    padding: 0;
}
.main-wrapper.field .block-level .question-wrapper .title {
    width: 100%;
    padding: 0.5vw 2vw 1vw;
}
.main-wrapper.field .block-level .question-wrapper .title.net{
    background-color: rgb(253,184,19,0.2);
}
.main-wrapper.field .block-level .question-wrapper .title.branch{
    background-color: rgba(56,123,43,0.2);
}
.main-wrapper.field .block-level .question-wrapper .title.auto{
    background-color: rgba(180,16,26,0.2);
}
.main-wrapper.field .block-level .question-wrapper .title.multi{
    background-color: rgba(193,205,34,0.2);
}
.main-wrapper.field .block-level .question-wrapper .title.cloud{
    background-color: rgba(0,148,210,0.2);
}
.main-wrapper .block-level .question-wrapper .title.lg{
    width: 90%;
}
.main-wrapper .block-level .question-wrapper .cat-title{
    width: 40%;
    padding: 0 2vw;
}
.main-wrapper .block-level .question-wrapper .title h1{
    font-weight: 300;
    font-size: 1.25vw;
    color:#1A4E63;
    margin: 0;
    padding: 1vw 0;
    text-transform: uppercase;
}
.main-wrapper.field .block-level .question-wrapper .title > div{
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}
.main-wrapper.field .block-level .question-wrapper .title h1{
    border-bottom: 2px solid #FDB813;
    padding: 0.5vw 0;
    font-size: 1.45vw;
}
.main-wrapper.field .block-level .question-wrapper .title.branch h1{
    border-bottom:2px solid #387B2B;
}
.main-wrapper.field .block-level .question-wrapper .title.auto h1{
    border-bottom:2px solid #B4101A;
}
.main-wrapper.field .block-level .question-wrapper .title.multi h1{
    border-bottom:2px solid #C1CD22;
}
.main-wrapper.field .block-level .question-wrapper .title.cloud h1{
    border-bottom:2px solid #0094D2;
}
.main-wrapper .block-level .question-wrapper .title h4{
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 300;
    color:#1A4E63;
    margin: 0.5vw 0;
}
.main-wrapper .block-level .question-wrapper .title p{
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}
.main-wrapper .block-level .question-wrapper .title h1 span{
    font-weight: 100;
    font-size: 1.04vw;
    color:#1A4E63;
}
.main-wrapper .block-level .question-wrapper .cat-title .title-parts{
    width: 20%;
    text-align: center;
    height: 100%;
}
.main-wrapper .block-level .question-wrapper .cat-title .title-parts p{
    font-weight: 700;
    font-size: 0.93vw;
    color: #1A4E63;
    margin: 0;
}
.main-wrapper .block-level .question-wrapper .question-wrapper-content{
    border-top:2px solid #F7F7F7;
    border-bottom:2px solid #F7F7F7;
    margin: 1vw 0 0;
    background-color: #fff;
}
.main-wrapper.form .block-level .question-wrapper .question-wrapper-content{
    padding-bottom: 1vw;
}
.main-wrapper.field .block-level .question-wrapper .question-wrapper-content{
    margin: 0;
}
.main-wrapper .block-level .question-wrapper .question-wrapper-content .block-level .question-content{
    padding: 0 2vw;
    width: 100%;
}
.main-wrapper .block-level .question-wrapper .question-wrapper-content .question-content:nth-child(even){
    background-color: #F7F7F7;
}
.main-wrapper .block-level .question-wrapper .question-wrapper-content .question-content h3{
    color: #1A4E63;
    font-size:  1vw;
    font-weight: 400;
    margin: 0;
}
.main-wrapper.field .block-level .question-wrapper .question-wrapper-content .question-content h3{
    font-weight: 700;
}
.main-wrapper .block-level .question-wrapper .question-wrapper-content .question-content h4{
    margin: 0;
    padding: 0.5vw 2vw 0.5vw 1vw;
    text-align: center;
    display: inline-block;
    background-color: #F7F7F7;
    color: #1A4E63;
    font-size:  1vw;
    font-weight: 500;
    cursor: pointer;
}
.main-wrapper .block-level .question-wrapper .question-wrapper-content .question-content h4.active{
    background-color: #6CB33D;
    color: #fff;
}
.main-wrapper .block-level .question-wrapper .question-wrapper-content .question-content h4.active span{
    position: absolute;
    top:50%;
    right:1vw;
    width: 0.57vw;
    height: 0.57vw;
    background-image: url(../images/cross.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: translateY(-50%);
}
.main-wrapper .block-level .question-wrapper .question-wrapper-content.filter .question-content { 
    background-color: transparent;
 }
.main-wrapper .block-level .question-wrapper .cat-title .title-parts .circle, .main-wrapper.field .block-level .question-wrapper .circle.active {
    width: 1.20vw;
    height: 1.20vw;
    border-radius: 50%;
    margin: auto;
    border: 0.1vw solid #1A4E63;
    background-color: #E7E8F2;
    padding: 0.12vw;
    cursor: pointer;
}
.main-wrapper.field .block-level .question-wrapper .circle.active{
    margin: 0;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -0.6vw;
}

.main-wrapper.field .block-level .question-wrapper .multiselect .circle.active{
    width: 1.20vw;
    height: 1.20vw;
    border: 0.1vw solid #1A4E63;
    background-color: #E7E8F2;
    padding: 0.12vw;
    cursor: pointer;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -0.6vw;
}

.main-wrapper.field .block-level .question-wrapper .circle-wrapper{
    width: 94% !important;
    padding: 1vw 0.6vw 0;

}
.main-wrapper.field .block-level .question-wrapper .circle-container{
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    z-index: 9;
    height: 0.52vw;
}

.main-wrapper.field .block-level .question-wrapper .circle-container:before{
    content:'';
    width: 9.25vw;
    left:0;
    right: 0;
    top:50%;
    transform: translateY(-50%);
    height: 4px;
    background-color: #E7E8F2;
    position: absolute;
    z-index: -1;
}
.main-wrapper.field .block-level .question-wrapper .circle-container:last-child:before, .main-wrapper.field .block-level .question-wrapper .circle .inner-circle{
    display: none;
}
.main-wrapper.field .block-level .question-wrapper .circle{
    width: 0.52vw;
    height: 0.52vw;
    border-radius: 360px;
    background-color: #E7E8F2;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: -0.26vw;
    transform: translateY(-50%);
}
.main-wrapper.field .block-level .question-wrapper .multiselect .circle{
    width: 1vw;
    height: 1vw;
    border-radius: 0.3vw;
    background-color: #E7E8F2;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: -0.5vw;
    transform: translateY(-50%);
}
.main-wrapper.form .block-level .question-wrapper{
    background-color: #fff;
}
.main-wrapper.form .block-level .question-wrapper .title h1{
    font-weight: 600;
    font-size: 1.45vw;
    padding: 0.2vw 0 0;
}
.download-wrapper{
    background-color: #fff;
}
.main-wrapper.field .block-level .question-wrapper .circle-container p{
    position: absolute;
    top: 0.2vw;
    color: #1A4E63;
    font-size: 0.85vw;
    left: -4vw;
    text-align: center;
    font-weight: 400;
    width: 8vw;
    cursor: pointer;
    margin: 0.8vw 0;
}
.chart-title{
    position: absolute;
    top: -6vw;
}
.score-wrapper img{
    position: absolute;
    bottom: -8vw;
    left: 0;
    right: 0;
}
.main-wrapper .block-level .question-wrapper .cat-title .title-parts .circle.active .inner-circle, .main-wrapper.field .block-level .question-wrapper .circle.active .inner-circle{
    width: 96%;
    height: 96%;
    border-radius: 360px;
    background-color: #6CB33D;
    display: block;
}
.main-wrapper.field .block-level .question-wrapper .multiselect .circle.active .inner-circle{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 80%;
    border: none;
    height: 80%;
    transform: translateY(-50%);
    margin: auto;
}

.main-wrapper.field .block-level .question-wrapper .multiselect .circle.active .inner-circle{
    top: 0.1vw;
    width: 0.3vw;
    height: 0.7vw;
    border: solid #6eb33f;
    border-width: 0 0.15vw 0.15vw 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
    border-radius: 0;
}

.main-wrapper .block-level .question-wrapper .question-wrapper-content .question-content{
    padding: 1vw 0;
}
.main-wrapper.field .block-level .question-wrapper .question-wrapper-content .question-content{
    padding: 0.4vw 0 1.5vw;
}
.main-wrapper .block-level .btn-wrapper{
    padding: 2vw 1.5vw;
}
.main-wrapper .block-level .btn-wrapper .btn{
    width: auto;
    border-radius: 5px;
    text-align: center;
    font-size: 1.04vw;
    color:#707070;
    font-weight: 600;
    padding: 0.53vw;
    position: absolute;
    top:50%;
    text-transform: uppercase;
    transform: translateY(-50%);
    left: 2vw;
    cursor: pointer;
}
.main-wrapper .block-level .btn-wrapper .btn.next{
    background-color: #FFFFFF;
    right:2vw;
    left:auto;
    width: 7.44vw;
    cursor: not-allowed;
}
.main-wrapper .block-level .btn-wrapper .btn.active{
    background-color: #6CB33D;
    color: #fff;
    cursor: pointer;
}
.main-wrapper .block-level .bar-heading{
    width: 80%;
    /* margin: auto; */
    margin-left: 15%;
    text-align: right;
    position: relative;
}
.main-wrapper .block-level .bar-heading > div{
    width: 92%;
    display: inline-block;
    position: absolute;
    left: 16%;
    top: -3.5vw;
}
.form-wrapper span{
    display: block;
    color:#1A4E63;
    font-size: 0.8vw;
    margin-top: 0.5vw;
}
.form-wrapper #translatedText{
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}
.main-wrapper .block-level .bar-heading p{
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    text-align: center;
    font-size: 0.93vw;
    color: #1A4E63;
    font-family: proxima-nova-condensed, sans-serif;
    font-weight: 300;
}
.main-wrapper .block-level .score-wrapper, .result-score .score-wrapper{
    margin: auto;
    width: 80%;
    /* text-align: center; */
    padding: 0.5vw 0;
    margin-left: 15%;
}
.main-wrapper .block-level .score-wrapper p, .result-score .score-wrapper p, .chart p{
    font-family: proxima-nova-condensed, sans-serif;

    font-weight: 600;
    font-size: 0.83vw;
    width: 20%;
    color: #1A4E63;
    margin: 0;
    text-align: left;
}
.main-wrapper.form .block-level .score-wrapper:before, .chart p:before{
    content: '';
    position: absolute;
    left: 5.5vw;
    width: 3px;
    height: 100%;
    top:0;
    background-color: #E7E8F2;
}
.main-wrapper.form .block-level .cloud-app:after,  .chart .score-wrapper:last-child:after{
    content: '';
    position: absolute;
    left: 5.5vw;
    height: 3px;
    width: 86%;
    bottom:0;
    background-color: #E7E8F2;
}
.main-wrapper .block-level .score-wrapper .bar, .result-score .score-wrapper .bar, .score-container .bar, .chart .bar{
    width: 75%;
    margin-left: 5%;
    height: 0.52vw;
}
.main-wrapper .block-level .score-wrapper.net-virt .bar .fill, .result-score .score-wrapper.net-virt .bar .fill, .net-virt .bar .fill, .chart .score-wrapper.net-virt .bar .fill{
    background-color: #FDB813;
    /* width: 30%; */
}
.main-wrapper .block-level .score-wrapper.branch-net .bar .fill, .result-score .score-wrapper.branch-net .bar .fill, .branch-net .bar .fill, .chart .score-wrapper.branch-net .bar .fill{
    background-color: #387B2B;
    /* width: 10%; */
}
.main-wrapper .block-level .score-wrapper.net-auto .bar .fill, .result-score .score-wrapper.net-auto .bar .fill, .net-auto .bar .fill, .chart .score-wrapper.net-auto .bar .fill{
    background-color: #B4101A;
    /* width: 50%; */
}
.main-wrapper .block-level .score-wrapper.multi-net .bar .fill, .result-score .score-wrapper.multi-net .bar .fill, .multi-net .bar .fill, .chart .score-wrapper.multi-net .bar .fill{
    background-color: #C1CD22;
    /* width: 5%; */
}
.main-wrapper .block-level .score-wrapper.cloud-app .bar .fill, .result-score .score-wrapper.cloud-app .bar .fill, .cloud-app .bar .fill, 
.chart .score-wrapper.cloud-app .bar .fill{
    background-color: #0094D2;
    /* width: 80%; */
}
.main-wrapper .block-level .score-wrapper .bar .fill-diff, .chart .fill-diff, .result-score .fill-diff, .summary .fill-diff{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    background-size: contain;
}
.main-wrapper .block-level .score-wrapper.net-virt .bar .fill-diff, .chart .score-wrapper.net-virt .fill-diff, .result-score .score-wrapper.net-virt .fill-diff, .summary .net-virt .fill-diff{
    background-image: url(../images/net.png);
}
.main-wrapper .block-level .score-wrapper.branch-net .bar .fill-diff, .chart .score-wrapper.branch-net .fill-diff, .result-score .score-wrapper.branch-net .fill-diff, .summary .branch-net .fill-diff{
    background-image: url(../images/branch.png);
}
.main-wrapper .block-level .score-wrapper.net-auto .bar .fill-diff, .chart .score-wrapper.net-auto .fill-diff, .result-score .score-wrapper.net-auto .fill-diff, .summary .net-auto .fill-diff{
    background-image: url(../images/auto.png);
}
.main-wrapper .block-level .score-wrapper.multi-net .bar .fill-diff, .chart .score-wrapper.multi-net .fill-diff, .result-score .score-wrapper.multi-net .fill-diff, .summary .multi-net .fill-diff{
    background-image: url(../images/multi.png);
}
.main-wrapper .block-level .score-wrapper.cloud-app .bar .fill-diff, .chart .score-wrapper.cloud-app .fill-diff, .result-score .score-wrapper.cloud-app .fill-diff, .summary .cloud-app .fill-diff{
    background-image: url(../images/cloud.png);
}
.form .block-level.md h1{
    font-size: 1.14vw;
    color: #1A4E63;
    font-weight: 700;
    margin: 2vw 5.3vw;
}
.form .block-level.md img{
    width: 12vw;
    margin: 2vw auto;
    text-align: center;
    display: block;
}
/* .html2canvas-container {  height: 300000px !important; } */
.main-wrapper .block-level .score-wrapper h1{
    font-size: 1.45vw;
    color:#1A4E63;
    margin: 2vw 0;
    font-weight: 600;
}
.main-wrapper .block-level .score-wrapper .score-numb{
    font-size: 2.91vw;
    color:#1A4E63;
    margin: 2vw 0;
    font-weight: 600;
}
.question-wrapper-content .form-wrapper{
    padding: 0 2vw;
}
.form-wrapper ul {
    padding-left: 1vw;
}
.question-wrapper-content .form-wrapper p, .form-wrapper ul li {
    font-size: 1.04vw;
    color:#1A4E63;
    margin-bottom: 0.5vw;
    font-weight: 400;
}

.question-wrapper-content .form-wrapper form input, .question-wrapper-content .form-wrapper form select{
    margin: 0.3vw 2.5% 0.3vw 0;
    display: inline-block;
    vertical-align: top;
    width: 45%;
    padding: 0.7vw 1vw;
    font-size: 0.93vw;
    color:#000;
    font-weight: 400;
    border:1px solid #CED4DA;
    border-radius: 5px;
}

.question-wrapper-content .form-wrapper form select option{
    font-size: 100%;
}
.question-wrapper-content .form-wrapper form input:last-child{
    display: block;
    width: 100%;
}
.question-wrapper-content .form-wrapper form input::placeholder{
    font-size: 0.93vw;
    color:#CCCCCC;
    font-weight: 400;
}
.question-wrapper-content .form-wrapper form input[type='checkbox']{
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin-right: 1%;
    margin-top: 0.2vw;
}
.question-wrapper-content .form-wrapper form .input-field p, .question-wrapper-content .form-wrapper form .input-field a{
    font-size: 0.72vw;
    color:#1A4E63;
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    margin: 0;
}
.main-wrapper.field.active .block-level.lg{
    display: block;
    margin: auto;
}
.main-wrapper.form{
    margin: 1vw 0 0;
}
.question-wrapper-content .form-wrapper form .input-field p.green {
    display: block;
    padding: 0.2vw 1.3vw;
}
.question-wrapper-content .form-wrapper form .input-field a{
color: #6CB33D;
}
.container.result-container{
    background-color: #F5F5F5;
    height: auto;
}
.container.result-container .fill{
    height: 100%;
    width: 0;
}
.summary{
    background-color: #fff;
    margin: 0 auto;
}
.summary > h1{
    font-size: 1.45vw;
    text-align: center;
    font-weight: 600;
    margin: 0;
    color: #1A4E63;
    padding: 2vw 5%;
    border-bottom: 2px solid #F7F7F7;
}
.summary .two-block-wrapper{
    padding: 2vw 5%;
    background-color: #fff;
    width: 100%;
    margin: auto;
    border-bottom:2vw solid #F5F5F5;
}
.summary .two-block-wrapper:last-child{
    border-bottom: none;
}
.summary .two-block-wrapper .two-block{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 0 3vw 0 0;
    overflow: hidden;
}
.summary .two-block-wrapper .two-block h1{
    font-size: 1.14vw;
    color:#1A4E63;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
}
.summary .two-block-wrapper .two-block h1 span, .summary .two-block-wrapper .two-block p, .budget-list-wrapper ul li{
    font-size: 0.83vw;
    font-weight: 300;
    color:#000000;
    margin-left: 0.2vw;
    font-family: proxima-nova-condensed, sans-serif;
}
.summary .two-block-wrapper .two-block p{
    display: inline-block;
    vertical-align: middle;
}
.summary .two-block-wrapper .score-container{
    padding: 0.37vw 2vw;
    border-bottom:1px solid #fff;
}
.summary .two-block-wrapper .score-container.big{
    padding: 1.035vw 2vw;
}
.summary .recommendation-wrapper{
    padding:1vw 2vw;
}
.summary .two-block-wrapper .two-block.grey{
    background-color: #F5F5F5;
    padding: 0.8vw 0;
}
.summary .two-block-wrapper .two-block p{
    color:#000000;
}
.summary .two-block-wrapper .two-block .desig-comp-wrapper div{
    padding: 0 0 2vw;
}
.summary .two-block-wrapper .two-block .desig-comp-wrapper p{
    width: 26%;
    font-size: 1.04vw;
    font-weight: 600;
    color:#1A4E63;
    margin: 0;
    display: inline-block;
    vertical-align: baseline;
    font-family: proxima-nova-condensed, sans-serif;
}
.less-margin{
    margin: 0.2vw 0;
}
.summary .two-block-wrapper .solutions-wrapper p span{
    color: #0094D2;
    font-weight: 500;
    font-size: 0.93vw;
}
.summary .two-block-wrapper .two-block .desig-comp-wrapper img{
    display: inline-block;
    vertical-align: baseline;
    width: 7vw;
    margin-left:7vw;
}
.summary .two-block-wrapper .two-block .desig-comp-wrapper a{
    display: inline-block;
    vertical-align: baseline;
    margin-left: 5vw;
}
.summary .two-block-wrapper .two-block .desig-comp-wrapper .case-study-btn{
    float: right;
    width: 11vw;
    border: 2px solid #387B2B;
    border-radius: 3px;
    text-align: center;
    padding: 0.5vw 1vw;
    text-transform: uppercase;
    font-size: 0.93vw;
    margin-top: 1.5vw;
    font-weight: 400;
    color: #387B2B;
}
.summary .two-block-wrapper .solutions-wrapper{
    padding:1vw 0;
    border-top:2px solid #F7F7F7;
}
.summary .two-block-wrapper .solutions-wrapper p{
    font-size:  0.93vw;
    font-weight: 400;
    color:#000000;
}
.summary .two-block-wrapper .two-block h4{
    font-size: 1.04vw;
    color:#1A4E63;
    font-weight: 100;
    margin: 0.35vw 0;
    font-family: proxima-nova-condensed, sans-serif;
}
.summary .two-block-wrapper .two-block .score-container p, .summary .two-block-wrapper .two-block .recommendation-wrapper h1{
    font-weight: 700;
    font-size:  1.14vw;
    color: #1A4E63;
    font-family: proxima-nova-condensed, sans-serif;

}
.summary .two-block-wrapper .two-block .recommendation-wrapper h1 span{
    font-size: 0.93vw;
    padding-left: 2vw;
    font-family: proxima-nova, sans-serif;
font-weight: 100;
    color:#0D0D0D;
}
.summary .two-block-wrapper .two-block .recommendation-wrapper ul{
    list-style: none;
    padding: 0;
}
.summary .two-block-wrapper .two-block .recommendation-wrapper ul li{
    font-size: 0.8vw;
    font-weight: 700;
    color:#000;
    width: 94%;
    margin: 1vw 0;
    border-radius: 5px;
    border:1px solid #E7E8F2;
    padding: 0.5vw 1vw;
    font-family: proxima-nova-condensed, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.summary .two-block-wrapper .two-block .recommendation-wrapper ul li.active{
    background-color: #fff;
    border: 0;
}
.summary .two-block-wrapper .two-block .recommendation-wrapper ul li span{
    font-size: 0.72vw;
    color: #707070;
    margin-right: 10%;
    margin-left: 0;
    font-weight: 500;
    width: 10%;
    text-align: center;
    display: inline-block;
}
.summary .two-block-wrapper .two-block .recommendation-wrapper ul li span:after {
    content: '';
    position: absolute;
    right: -1.6vw;
    top: -0.3vw;
    width: 3px;
    height: 1.5vw;
    background-color: #E7E8F2;
}
.summary .two-block-wrapper .two-block .recommendation-wrapper ul li div {
    font-size: 0.8vw;
    font-weight: 700;
    color: #707070;
    width: 53%;
}
.summary .two-block-wrapper .two-block .recommendation-wrapper ul li.active span, .summary .two-block-wrapper .two-block .recommendation-wrapper ul li.active div {
    color: #1A4E63;
}

.summary .two-block-wrapper .two-block .recommendation-wrapper ul li.active a{
    background-color: #6CB33D;
    border: 2px solid transparent;
    cursor: pointer;
}
.summary .two-block-wrapper .two-block .recommendation-wrapper ul li.active a span{
    color: #fff;
}
.summary .two-block-wrapper .two-block .recommendation-wrapper ul li a {
    font-size: 0.83vw;
    padding: 1.5% 6%;
    width: 17.4%;
    color: #707070;
    border-radius: 5px;
    font-weight: 400;
    margin-left: 10%;
    text-transform: uppercase;
    border: 1px solid #707070;
}
.summary .two-block-wrapper .two-block .recommendation-wrapper ul li a span{
    margin: 0;
}
.summary .two-block-wrapper .two-block .recommendation-wrapper ul li a span:after {
    display: none;
}

.clsz-17 tspan{
    font-size: 16px;
}

.learn-more-wrapper{
    padding: 2vw 3vw 2vw;
    text-align: center;
    background-color: #F5F5F5;
}
.learn-more-wrapper div{
    width: 29.63vw;
    background-color: #6CB33D;
    border-radius: 5px;
    font-size: 1.04vw;
    color:#fff;
    font-weight: 600;
    padding: 1vw;
    margin: auto;
    cursor: pointer;
}
.download-wrapper{
    width: 45%;
    padding: 1vw 0;
    margin: 2vw 0 2vw;
    display: inline-block;
    vertical-align: top;
}
.download-wrapper:nth-child(2n+1){
    margin-right: 0;
    background-color: transparent;
    border:none;
    box-shadow: none;
    float: right;
    padding-top: 0;
}

.download-wrapper:nth-child(2n+1) h1{
    margin-bottom: 0;
    border: none;
    font-family: proxima-nova-condensed, sans-serif;
    font-weight: 700;
    margin-top: 0;
}
.download-wrapper:nth-child(2n+1) p{
    margin: 0;
}
.download-wrapper p{
    font-weight: 400;
    font-size:0.93vw;
    color: #000000;
    margin:1vw 0;
    padding: 0 2vw;
}
.download-wrapper .download-button{
    width: 21vw;
    padding: 0.65vw 0;
    cursor: pointer;
    background-color: #6CB33D;
    border-radius: 5px;
    text-align: center;
    margin-left: 2vw;
    position: absolute;
    bottom: -5vw;
    left: 0;
    right: 0;
    margin: auto;
}
.download-wrapper .download-button p{
    color:#fff;
    font-weight: 600;
    font-size: 1.04vw;
    margin: 0;
    padding-left: 2.8vw;
}
.download-wrapper .download-button:before{
    content: '';
    position: absolute;
    top: 45%;
    width: 1.09vw;
    height: 1.09vw;
    left: 1.2vw;
    background-image: url(../images/download.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: translateY(-50%);
}
.download-wrapper h1{
    padding: 0 2vw 1vw;
    border-bottom: 1px solid #F7F7F7;
    color: #1A4E63;
    font-size: 1.14vw;
    font-weight: 700;
}
.result-score{
    margin-top:2.5vw;
    margin-bottom:2.5vw;
}
.result-score .score-wrapper{
    width: 92.45%;
    text-align: right;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
}
.result-score .score-wrapper p{
    padding: 0;
    text-align: left;
}
.result-score .score-wrapper p:last-child{
    width: 10%;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
}
.result-score .score-wrapper .bar, .score-container .bar{
    width: 50%;
    margin-left: 17.38%;
    margin-right: 2%;
}
.score-container .bar{
    width: 65%;
    margin: 0;
    border-radius: 15px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    background-color: #E7E8F2;
}
.score-container .final-results{
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    text-align: right;
}
.result-score .score-wrapper p {
    width: 29%;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-size: 0.93vw;
}
.result-score .score-wrapper .bar {
    width: 49%;
    margin-left: 5%;
    margin-right: 5%;
}
.result-score .score-wrapper{
    padding: 0;
}
.chart .bar {
    width: 45%;
    margin: 0;
}
.chart p{
    width: 24%;
    padding: 0.5vw 2vw;
    color: #1A4E63;
}
 .chart p:before {
    left: 8.5vw;
}
 .chart .score-wrapper:last-child:after {
    left: 8.5vw;
    width: 55%;
}
.chart .priotiy-wrapper{
    position: absolute;
    top: 0.66vw;
    right: 4vw;
}
.chart .priotiy-wrapper img {
    width: 1.3vw;
    display: inline-block;
    vertical-align: middle;
}
.chart .priotiy-wrapper p{
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 1vw;
    padding: 0;
    color: #1A4E63;
}
.chart .priotiy-wrapper p:before{
    display: none;
}
.download-wrapper .x-scale{
    bottom: -1vw;
    left: 7.7vw;
    width: 55%;
}
.download-wrapper .x-scale p{
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    text-align: center;
    padding: 0;
    color: #1A4E63;
}  
.download-wrapper .x-scale p::before{
    display: none;
}
.chart-text{
    margin:4vw 0;
}
.chart-text p{
    margin-bottom: 1vw !important;
}
.download-wrapper .x-scale img{
    width: 11.31vw;
    display: block;
    position: absolute;
    right: -7vw;
    bottom: -4vw;
}
.budget-list-wrapper ul{
    padding-left: 1vw;
}
.budget-list-wrapper p span{
    color: #0094D2;
    font-weight: 600;
    font-size: 0.83vw;
    display: block;
    margin: 1vw 0;
}
.main-wrapper.field .block-level .question-wrapper .question-wrapper-content .question-content h3 span{
    font-size: 0.8vw;
    font-weight: 300;
    margin-left: 0.5vw;
}
.summary .two-block-wrapper .two-block p, .budget-list-wrapper ul li{
    vertical-align: middle;
    margin: 0.35vw 0;
    margin-right: 1vw;
    font-family: proxima-nova, sans-serif;
font-weight: 400;
}
.summary .two-block-wrapper.budget-wrapper{
    background-color: #F5F5F5;
}
.summary .two-block-wrapper.budget-wrapper h3{
    font-size: 1.14vw;
    color: #1A4E63;
    font-weight: 700;
    margin: 0;
    font-family: proxima-nova-condensed, sans-serif;
}
.budget-wrapper p, .content-text-box p{
    font-size: 0.93vw;
    color: #000000;
    font-weight: 400;
}
.budget-list-wrapper{
    background-color: #fff;
    padding: 2vw 1vw 2vw 4vw;
}
.budget-list-wrapper.active{
    background-color: #6CB33D;
}
.budget-list-wrapper h2, .budget-list-wrapper h3{
    font-size: 0.93vw;
    font-weight: 700;
    color: #1A4E63;
    margin:0;
}
.budget-list-wrapper h3{
    display: none;
}
.summary .two-block-wrapper .two-block .budget-list-wrapper.active p{
    color: #fff;
}
.budget-list-wrapper h2::before{
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter);
    font-size: 3.9vw;
    color: #E7E8F2;
    position: absolute;
    font-weight: 400;
    top:50%;
    transform: translateY(-50%);
    left:-3vw;
}   
.summary .two-block-wrapper.budget-wrapper .two-block{
    margin: 1vw 0;
}
.summary .two-block-wrapper.budget-wrapper .two-block:nth-child(2n+1){
    float: right;
}
.content-list-wrapper{
    background-color: #f5f5f5;
    padding: 2vw 5%;
}
.content-list-wrapper h1{
    margin: 0;
    padding: 1vw 0;
    font-size: 2.57vw;
}
.content-text-box{
    background-color: #fff;
    padding: 2vw 1vw;
}
.content-text-box.list{
    display: inline-block;
    vertical-align: top;
    padding: 1vw;
    width: 31.33%;
    margin: 3% 3% 0 0;
}
.content-text-box.list.no-bg{
    background-color: transparent;
    text-align: center;
}
.content-text-box.list img{
    margin: 2vw auto;
    display: block;
    width: 3vw;
}
.content-text-box.list > a{
    border:2px solid #707070;
    padding: 0.5vw 2vw;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 auto 5vw;
}
.content-text-box.list > a div{
    font-size: 0.83vw;
    color: #707070;
}
.content-text-box.list a:hover{
    background-color: #6CB33D;
    border-color: transparent;
}
.content-text-box.list a:hover div{
    color: #fff;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.content-text-box.list:nth-child(3n+3){
    margin-right: 0;
}
.content-text-box.list h2, .content-text-box.list h2 a{
    font-size: 0.93vw;
    color: #0094D2;
    text-decoration: none;
    font-weight: 700;
}
.content-text-box.list h2 a:hover{
    background: none;
}
.footer{
    text-align: center;
}
.footer > img{
    width: 100%;
}
.footer .footer-content h5, .footer .footer-content p{
    display: inline-block;
    vertical-align: top;
    margin: 1vw 3vw;
}
.footer .footer-content h5 a, .footer .footer-content p a, .footer .footer-content p{
    font-size: 1.04vw;
    color: #1A4E63;
    font-weight: 600;
}
.footer .footer-content p{
    font-weight: 400;
    margin: 1.7vw;
}
.footer .footer-content p span.year{
    font-weight: 400;
    color: #124052;
    font-size: 1.04vw;
}
.footer .social-media img{
    width: 1.5vw;
    margin: 2vw 1vw;
}
@media only screen and (max-width:1399px){
    .progress-bar .progress-block{
        padding-top: 1vw;
    }
    .question-wrapper-content .form-wrapper p, .form-wrapper ul li {
        font-size: 0.81vw;
    }
}
input[type=number] {
    -moz-appearance:textfield;
}
.box-demos{
    text-align: center;
    width: 100%;
}
.box-demos .content-text-box.list.no-bg{
    display: inline-block;
    vertical-align: middle;
}